<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="stylesheet" href="static/css/dc.min.css" type="text/css" />
    
    {% block scripts %} {% endblock %}
</head>

<body class="grey lighten-5">
    <header>
        
        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper orange darken-1">
                <a href="{{url_for('all_categories', category=category)}}" class="brand-logo logo-margin"><i class="large material-icons">autorenew</i>OM User Exchange</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('all_categories')}}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{url_for('add_tip')}}">New Tip</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                    {% endif %}
                    <li><a href="{{url_for('summary')}}">Summary</a></li>
                    {% if current_user.is_authenticated %}
                    <li><i><b><a href="{{url_for('logout')}}">Logout</a></b></i></li>
                    {% else %}
                    <li><i><b><a href="{{url_for('login')}}">Login</a></b></i></li>
                    {% endif %}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('sort_by_category', category=category)}}">Home</a></li>
                    <li><a href="{{url_for('add_tip')}}">New Tip</a></li>
                    <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                    <li><a href="{{url_for('summary')}}">Summary</a></li>
                </ul>
            </div>
        </nav>
        <!-- /.Navbar -->
        
    </header>

    <!-- Content Area -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>
    <!-- /.Content Area -->
    
    <!-- Footer -->
    <footer class="page-footer grey lighten-5">
        <div class="footer-copyright grey darken-3">
            <div class="container">
                © 2019 MarketingMan.ie
            </div>
        </div>
    </footer>
    <!-- /.Footer -->
    
</body>

</html>